.hero__header-container {
  display: inline-block;
  overflow: hidden;
}

.hero__header {
  transform: translateY(100%);
  transition: 1s;
}
canvas {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
}
.hero-text {
  position: absolute;
  z-index: 10;
  bottom: 10px;
  display: grid;
  width: 100%;
  grid-template-columns: repeat(12, 1fr);
  color: rgba(240, 248, 255, 0.76);
}
.hero-text div:nth-child(1) {
  grid-area: 1 /1 /1 / 13;
}
.hero-text div:nth-child(2) {
  grid-area: 2 /3 /3 / 13;
}
.hero-text div:nth-child(3) {
  grid-area: 3 /3 /4 / 13;
  text-align: right;
}
